USE [master]
GO
/****** Object:  Database [EMAV]    Script Date: 8/06/2023 14:26:23 ******/
CREATE DATABASE [EMAV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EMAV', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.VIVES\MSSQL\DATA\sqlilvo.mdf' , SIZE = 718784KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EMAV_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.VIVES\MSSQL\DATA\sqlilvo_0.ldf' , SIZE = 1108800KB , MAXSIZE = 10923712KB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EMAV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EMAV]
GO
/****** Object:  Schema [history]    Script Date: 8/06/2023 14:26:24 ******/
CREATE SCHEMA [history]
GO
/****** Object:  Table [dbo].[AANGIFTE_DIER_STAL_PAS]    Script Date: 8/06/2023 14:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AANGIFTE_DIER_STAL_PAS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[JR_PRODUCTIE] [decimal](11, 0) NULL,
	[NR_LANDBOUWER_FICT] [bigint] NULL,
	[NR_EXPLOITANT_FICT] [bigint] NULL,
	[NR_EXPLOITATIE_FICT] [bigint] NULL,
	[NR_VERSIE] [decimal](11, 0) NULL,
	[CODE_DIERSOORT] [nvarchar](10) NULL,
	[OMS_DIERSOORT] [nvarchar](100) NULL,
	[CODE_DIERGROEP] [nvarchar](10) NULL,
	[OMS_DIERGROEP] [nvarchar](100) NULL,
	[CODE_STALTYPE] [nvarchar](10) NULL,
	[OMS_STALTYPE] [nvarchar](120) NULL,
	[OMS_PAS_MAATREGEL] [nvarchar](150) NULL,
	[AAN_BEZETTING_PAS_MAATREGEL] [decimal](11, 0) NULL,
 CONSTRAINT [PK_AANGIFTE_DIER_STAL_PAS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BEMESTING]    Script Date: 8/06/2023 14:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BEMESTING](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DA_PROC] [datetime] NULL,
	[JR_PRODUCTIE] [decimal](11, 0) NULL,
	[NR_LANDBOUWER_FICT] [bigint] NULL,
	[NR_EXPLOITANT_FICT] [bigint] NULL,
	[NR_EXPLOITATIE_FICT] [bigint] NULL,
	[NR_SEQ_PERCEEL] [bigint] NULL,
	[ID_LB_PERCEEL] [nvarchar](30) NULL,
	[OPP_HA_NETTO] [decimal](12, 2) NULL,
	[CO_GROEP_GEWAS_MB] [int] NULL,
	[CO_GROEP_GEWAS_N_MB] [int] NULL,
	[CO_GEWAS_HOOFDTEELT] [bigint] NULL,
	[OMS_GROEP_GEWAS_MB] [nvarchar](255) NULL,
	[OMS_GROEP_GEWAS_N_MB] [nvarchar](255) NULL,
	[OMS_GEWAS_HOOFDTEELT] [nvarchar](255) NULL,
	[NM_GEMEENTE_BESTAND] [nvarchar](25) NULL,
	[OMS_LANDBOUWSTREEK] [nvarchar](20) NULL,
	[X_LABEL] [decimal](12, 4) NULL,
	[Y_LABEL] [decimal](12, 4) NULL,
	[NM_GEMEENTE_BESTAND1] [nvarchar](25) NULL,
	[IND_GEBRUIK0101] [nvarchar](5) NULL,
	[CO_PRODUCTIEMETHODE] [nvarchar](25) NULL,
 CONSTRAINT [PK_BEMESTING] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BU_TRANSPORT_VRACHT]    Script Date: 8/06/2023 14:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BU_TRANSPORT_VRACHT](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[JR_BURENREGELING] [int] NULL,
	[NR_BURENREGELING] [float] NULL,
	[NR_LANDBOUWER_ANB_FICT] [bigint] NULL,
	[NR_EXPLOITANT_ANB_FICT] [bigint] NULL,
	[NR_EXPLOITATIE_ANB_FICT] [bigint] NULL,
	[UITBATERSNUMMER_ANB_FICT] [bigint] NULL,
	[UITBATINGSNUMMER_ANB_FICT] [bigint] NULL,
	[CO_ROL_ANB] [nvarchar](25) NULL,
	[NR_LANDBOUWER_AFN_FICT] [bigint] NULL,
	[NR_EXPLOITANT_AFN_FICT] [bigint] NULL,
	[NR_EXPLOITATIE_AFN_FICT] [bigint] NULL,
	[UITBATERSNUMMER_AFN_FICT] [bigint] NULL,
	[UITBATINGSNUMMER_AFN_FICT] [bigint] NULL,
	[CO_ROL_AFN] [nvarchar](25) NULL,
	[CO_NIS_GEMEENTE_LOSPL] [nvarchar](25) NULL,
	[NM_GEMEENTE_LOSPL] [nvarchar](255) NULL,
	[CO_MEST] [int] NULL,
	[CO_TOESTAND] [nvarchar](10) NULL,
	[DA_NAMELDING] [datetime] NULL,
	[CO_TOESTAND_VRACHT] [nvarchar](10) NULL,
	[VOLGNR_VRACHT] [float] NULL,
	[GW_TON_NAMELDING_VRACHT] [float] NULL,
	[GW_KG_N_VRACHT] [float] NULL,
	[CO_MESTVORM] [nvarchar](2) NULL,
	[CO_MESTTYPE] [nvarchar](2) NULL,
 CONSTRAINT [PK_BU_TRANSPORT_VRACHT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BU_TRANSPORT_VRACHT_EFF]    Script Date: 8/06/2023 14:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BU_TRANSPORT_VRACHT_EFF](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[JR_BURENREGELING] [int] NULL,
	[NR_BURENREGELING] [float] NULL,
	[NR_LANDBOUWER_ANB_FICT] [bigint] NULL,
	[NR_EXPLOITANT_ANB_FICT] [bigint] NULL,
	[NR_EXPLOITATIE_ANB_FICT] [bigint] NULL,
	[UITBATERSNUMMER_ANB_FICT] [bigint] NULL,
	[UITBATINGSNUMMER_ANB_FICT] [bigint] NULL,
	[CO_ROL_ANB] [nvarchar](25) NULL,
	[NR_LANDBOUWER_AFN_FICT] [bigint] NULL,
	[NR_EXPLOITANT_AFN_FICT] [bigint] NULL,
	[NR_EXPLOITATIE_AFN_FICT] [bigint] NULL,
	[UITBATERSNUMMER_AFN_FICT] [bigint] NULL,
	[UITBATINGSNUMMER_AFN_FICT] [bigint] NULL,
	[CO_ROL_AFN] [nvarchar](25) NULL,
	[CO_NIS_GEMEENTE_LOSPL] [nvarchar](25) NULL,
	[NM_GEMEENTE_LOSPL] [nvarchar](255) NULL,
	[CO_MEST] [int] NULL,
	[CO_TOESTAND] [nvarchar](10) NULL,
	[DA_NAMELDING] [datetime] NULL,
	[CO_TOESTAND_VRACHT] [nvarchar](10) NULL,
	[VOLGNR_VRACHT] [float] NULL,
	[GW_TON_NAMELDING_VRACHT] [float] NULL,
	[GW_KG_N_VRACHT] [float] NULL,
	[CO_MESTVORM] [nvarchar](2) NULL,
	[CO_MESTTYPE] [nvarchar](2) NULL,
 CONSTRAINT [PK_BU_TRANSPORT_VRACHT_EFF] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BUI_VLA_OPSLVERSCHIL]    Script Date: 8/06/2023 14:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BUI_VLA_OPSLVERSCHIL](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DA_PROC] [datetime] NULL,
	[JR_PRODUCTIE] [int] NULL,
	[NR_LANDBOUWER_FICT] [bigint] NULL,
	[NR_EXPLOITANT_FICT] [bigint] NULL,
	[NR_EXPLOITATIE_FICT] [bigint] NULL,
	[GW_KG_N_EIGENAFZET_BUI_VLA] [float] NULL,
	[GW_KG_N_GEBRUIK_DIER_BUI_VLA] [float] NULL,
	[GW_KG_N_GEBRUIK_CHEM_BUI_VLA] [float] NULL,
	[GW_KG_N_OPSLAGVERSCHIL_DIER] [float] NULL,
 CONSTRAINT [PK_BUI_VLA_OPSLVERSCHIL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BURENREGELINGEN]    Script Date: 8/06/2023 14:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BURENREGELINGEN](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DA_PROC] [datetime] NULL,
	[JR_BURENREGELING] [int] NULL,
	[NR_BURENREGELING] [float] NULL,
	[CO_ROL_ANB] [nvarchar](25) NULL,
	[NR_LANDBOUWER_ANB_FICT] [bigint] NULL,
	[NR_EXPLOITANT_ANB_FICT] [bigint] NULL,
	[NR_EXPLOITATIE_ANB_FICT] [bigint] NULL,
	[UITBATERSNUMMER_ANB_FICT] [bigint] NULL,
	[UITBATINGSNUMMER_ANB_FICT] [bigint] NULL,
	[CO_ROL_AFN] [nvarchar](25) NULL,
	[NR_LANDBOUWER_AFN_FICT] [bigint] NULL,
	[NR_EXPLOITANT_AFN_FICT] [bigint] NULL,
	[NR_EXPLOITATIE_AFN_FICT] [bigint] NULL,
	[UITBATERSNUMMER_AFN_FICT] [bigint] NULL,
	[UITBATINGSNUMMER_AFN_FICT] [bigint] NULL,
	[CO_NIS_GEMEENTE_LOSPL] [nvarchar](25) NULL,
	[NM_GEMEENTE_LOSPL] [nvarchar](255) NULL,
	[CO_MEST] [int] NULL,
	[CO_MESTTYPE] [nvarchar](2) NULL,
	[CO_MESTVORM] [nvarchar](2) NULL,
	[GW_KG_N] [float] NULL,
 CONSTRAINT [PK_BURENREGELINGEN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BURENREGELINGEN_EFF]    Script Date: 8/06/2023 14:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BURENREGELINGEN_EFF](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DA_PROC] [datetime] NULL,
	[JR_BURENREGELING] [int] NULL,
	[NR_BURENREGELING] [float] NULL,
	[CO_ROL_ANB] [nvarchar](25) NULL,
	[NR_LANDBOUWER_ANB_FICT] [bigint] NULL,
	[NR_EXPLOITANT_ANB_FICT] [bigint] NULL,
	[NR_EXPLOITATIE_ANB_FICT] [bigint] NULL,
	[UITBATERSNUMMER_ANB_FICT] [bigint] NULL,
	[UITBATINGSNUMMER_ANB_FICT] [bigint] NULL,
	[CO_ROL_AFN] [nvarchar](25) NULL,
	[NR_LANDBOUWER_AFN_FICT] [bigint] NULL,
	[NR_EXPLOITANT_AFN_FICT] [bigint] NULL,
	[NR_EXPLOITATIE_AFN_FICT] [bigint] NULL,
	[UITBATERSNUMMER_AFN_FICT] [bigint] NULL,
	[UITBATINGSNUMMER_AFN_FICT] [bigint] NULL,
	[CO_NIS_GEMEENTE_LOSPL] [nvarchar](25) NULL,
	[NM_GEMEENTE_LOSPL] [nvarchar](255) NULL,
	[CO_MEST] [int] NULL,
	[CO_MESTTYPE] [nvarchar](2) NULL,
	[CO_MESTVORM] [nvarchar](2) NULL,
	[GW_KG_N] [float] NULL,
 CONSTRAINT [PK_BURENREGELINGEN_EFF] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CO_SLIB]    Script Date: 8/06/2023 14:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CO_SLIB](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DA_PROC] [datetime] NULL,
	[co_mest] [int] NULL,
	[pluimm] [float] NULL,
	[varkm] [float] NULL,
	[overm] [float] NULL,
	[dierlijk] [float] NULL,
	[slib] [float] NULL,
	[ind_effluent] [float] NULL,
	[AFKOMST] [nvarchar](50) NULL,
	[co_mest2] [nvarchar](4) NULL,
	[gegr_afkomst] [nvarchar](30) NULL,
 CONSTRAINT [PK_CO_SLIB] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIER_PROD]    Script Date: 8/06/2023 14:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIER_PROD](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DA_PROC] [datetime] NULL,
	[JR_PRODUCTIE] [decimal](11, 0) NULL,
	[NR_LANDBOUWER_FICT] [bigint] NULL,
	[NR_EXPLOITANT_FICT] [bigint] NULL,
	[NR_EXPLOITATIE_FICT] [bigint] NULL,
	[CODE_DIERGROEP] [nvarchar](10) NULL,
	[OMS_DIERGROEP] [nvarchar](100) NULL,
	[CODE_DIERSOORT] [nvarchar](10) NULL,
	[OMS_DIERSOORT] [nvarchar](100) NULL,
	[CODE_DIERSOORT_MELKKOE] [nvarchar](10) NULL,
	[CODE_NUB] [nvarchar](10) NULL,
	[OMS_NUB] [nvarchar](100) NULL,
	[AAN_BEZETTING_DIERSOORT] [decimal](10, 2) NULL,
	[BRUTO_PRODUCTIE_N] [decimal](13, 2) NULL,
	[EMISSIEVERLIES_DIERSOORT] [decimal](13, 2) NULL,
	[NETTO_PRODUCTIE_N] [decimal](13, 2) NULL,
 CONSTRAINT [PK_DIER_PROD] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EVOA_AANBIEDER]    Script Date: 8/06/2023 14:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVOA_AANBIEDER](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DA_PROC] [datetime] NULL,
	[JR_EV_VERVOER] [int] NULL,
	[NR_LANDBOUWER_ANB_FICT] [bigint] NULL,
	[NR_EXPLOITANT_ANB_FICT] [bigint] NULL,
	[NR_EXPLOITATIE_ANB_FICT] [bigint] NULL,
	[UITBATERSNUMMER_AANBIEDER_FICT] [bigint] NULL,
	[UITBATINGSNUMMER_AANBIEDER_FICT] [bigint] NULL,
	[CO_IDENT_EENH_ROL_AANBIEDER] [nvarchar](25) NULL,
	[CO_MEST] [int] NULL,
	[OMS_MEST] [nvarchar](20) NULL,
	[CO_MESTTYPE] [nvarchar](2) NULL,
	[CO_MESTVORM] [nvarchar](2) NULL,
	[NM_MESTVORM] [nvarchar](20) NULL,
	[GW_KG_N_VN_EVOA_AFVOER] [float] NULL,
 CONSTRAINT [PK_EVOA_AANBIEDER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EXPLOITATIE]    Script Date: 8/06/2023 14:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXPLOITATIE](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DA_PROC] [datetime] NULL,
	[JR_PRODUCTIE] [decimal](11, 0) NULL,
	[NR_LANDBOUWER_FICT] [bigint] NULL,
	[NR_EXPLOITANT_FICT] [bigint] NULL,
	[NR_EXPLOITATIE_FICT] [bigint] NULL,
	[GW_KG_N_MAD_AFVOER_DIER] [decimal](13, 2) NULL,
	[GW_KG_N_MAD_AANVOER_DIER] [decimal](13, 2) NULL,
	[GW_KG_N_BU_AFVOER_DIER] [decimal](13, 2) NULL,
	[GW_KG_N_BU_AANVOER_DIER] [decimal](13, 2) NULL,
	[GW_KG_N_EVOA_AFVOER_DIER] [decimal](13, 2) NULL,
	[GW_KG_N_EVOA_AANVOER_DIER] [decimal](13, 2) NULL,
	[GW_KG_N_GEBRUIK_CHEM] [decimal](13, 2) NULL,
	[GW_KG_N_INSCHAAR_AFVOER_DIER] [decimal](13, 2) NULL,
	[GW_KG_N_INSCHAAR_AANVOER_DIER] [decimal](13, 2) NULL,
	[CODE_BEMESTINGSSYSTEEM] [varchar](50) NULL,
 CONSTRAINT [PK_EXPLOITATIE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GEBRUIK_KM]    Script Date: 8/06/2023 14:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GEBRUIK_KM](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NR_LANDBOUWER_FICT] [bigint] NULL,
	[NR_EXPLOITANT_FICT] [bigint] NULL,
	[NR_EXPLOITATIE_FICT] [bigint] NULL,
	[JR_PRODUCTIE] [int] NULL,
	[CO_MESTSTOF] [int] NULL,
	[OMS_MESTSTOF_LANG] [nvarchar](50) NULL,
	[CO_MESTTYPE] [nvarchar](2) NULL,
	[GW_KG_N] [float] NULL,
	[GW_KG_P] [float] NULL,
	[IND_SERRE] [nvarchar](1) NULL,
 CONSTRAINT [PK_GEBRUIK_KM] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[geoEmissieGemeente]    Script Date: 8/06/2023 14:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[geoEmissieGemeente](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Naam] [nvarchar](255) NOT NULL,
	[NisCode] [int] NOT NULL,
	[Geom] [geometry] NULL,
	[Weide] [float] NOT NULL,
	[Stal] [float] NOT NULL,
	[Opslag] [float] NOT NULL,
	[Dierlijk] [float] NOT NULL,
	[Kunstmest] [float] NOT NULL,
	[MestVerw] [float] NOT NULL,
	[Totaal] [float] NOT NULL,
	[ProvincieID] [int] NOT NULL,
 CONSTRAINT [PK_geoEmissieGemeente] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[geoEmissieGemeente_2019]    Script Date: 8/06/2023 14:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[geoEmissieGemeente_2019](
	[ID] [int] NOT NULL,
	[Naam] [nvarchar](255) NOT NULL,
	[NisCode] [int] NOT NULL,
	[Geom] [geometry] NULL,
	[Weide] [float] NOT NULL,
	[Stal] [float] NOT NULL,
	[Opslag] [float] NOT NULL,
	[Dierlijk] [float] NOT NULL,
	[Kunstmest] [float] NOT NULL,
	[Totaal] [float] NOT NULL,
	[ProvincieID] [int] NOT NULL,
 CONSTRAINT [PK_geoEmissieGemeente_2019] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[geoEmissieMestverwerking]    Script Date: 8/06/2023 14:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[geoEmissieMestverwerking](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Geom] [geometry] NULL,
	[Uitbating] [bigint] NULL,
	[Uitbater] [bigint] NULL,
	[Gemeente] [nvarchar](255) NOT NULL,
	[Emissie] [float] NULL,
 CONSTRAINT [PK_geoEmissieMestverwerking] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[geoEmissieVlops1000]    Script Date: 8/06/2023 14:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[geoEmissieVlops1000](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Geom] [geometry] NULL,
	[IsVlopsCel] [bit] NOT NULL,
	[VlopsID] [bigint] NOT NULL,
	[Weide] [float] NOT NULL,
	[Stal] [float] NOT NULL,
	[Opslag] [float] NOT NULL,
	[Dierlijk] [float] NOT NULL,
	[Kunstmest] [float] NOT NULL,
	[MestVerw] [float] NOT NULL,
	[Totaal] [float] NOT NULL,
 CONSTRAINT [PK_geoVlops1000] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[geoEmissieVlops250]    Script Date: 8/06/2023 14:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[geoEmissieVlops250](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Geom] [geometry] NULL,
	[IsVlopsCel] [bit] NOT NULL,
	[VlopsID] [bigint] NOT NULL,
	[Weide] [float] NOT NULL,
	[Stal] [float] NOT NULL,
	[Opslag] [float] NOT NULL,
	[Dierlijk] [float] NOT NULL,
	[Kunstmest] [float] NOT NULL,
	[MestVerw] [float] NOT NULL,
	[Totaal] [float] NOT NULL,
 CONSTRAINT [PK_geoVlops250] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[geoExploitatie]    Script Date: 8/06/2023 14:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[geoExploitatie](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Geom] [geometry] NULL,
	[Exploitatie] [bigint] NULL,
	[Exploitant] [bigint] NULL,
	[Landbouwer] [bigint] NULL,
	[NISCode] [int] NULL,
	[Gemeente] [nvarchar](255) NULL,
 CONSTRAINT [PK_geoExploitatie_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[geoMestverwerking]    Script Date: 8/06/2023 14:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[geoMestverwerking](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Geom] [geometry] NULL,
	[Uitbater] [bigint] NOT NULL,
	[Uitbating] [bigint] NOT NULL,
	[NISCode] [int] NULL,
	[Gemeente] [nvarchar](255) NOT NULL,
	[BeginDatum] [datetime] NULL,
	[EindDatum] [datetime] NULL,
 CONSTRAINT [PK_geoMestverwerking] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[geometry_columns]    Script Date: 8/06/2023 14:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[geometry_columns](
	[f_table_catalog] [varchar](128) NOT NULL,
	[f_table_schema] [varchar](128) NOT NULL,
	[f_table_name] [varchar](256) NOT NULL,
	[f_geometry_column] [varchar](256) NOT NULL,
	[coord_dimension] [int] NOT NULL,
	[srid] [int] NOT NULL,
	[geometry_type] [varchar](30) NOT NULL,
 CONSTRAINT [geometry_columns_pk] PRIMARY KEY CLUSTERED 
(
	[f_table_catalog] ASC,
	[f_table_schema] ASC,
	[f_table_name] ASC,
	[f_geometry_column] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[geoOpslag]    Script Date: 8/06/2023 14:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[geoOpslag](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Geom] [geometry] NULL,
	[Exploitatie] [bigint] NULL,
	[Exploitant] [bigint] NULL,
	[Landbouwer] [bigint] NULL,
	[Gemeente] [nvarchar](255) NOT NULL,
	[Emissie] [float] NULL,
 CONSTRAINT [PK_geoOpslag] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[geoProvincie]    Script Date: 8/06/2023 14:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[geoProvincie](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Naam] [nvarchar](100) NOT NULL,
	[Geom] [geometry] NOT NULL,
 CONSTRAINT [PK_geoProvincie] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[geoStal]    Script Date: 8/06/2023 14:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[geoStal](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Geom] [geometry] NULL,
	[Exploitatie] [bigint] NULL,
	[Exploitant] [bigint] NULL,
	[Landbouwer] [bigint] NULL,
	[Gemeente] [nvarchar](255) NOT NULL,
	[Emissie] [float] NULL,
 CONSTRAINT [PK_geoStal] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[geoUitrijden]    Script Date: 8/06/2023 14:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[geoUitrijden](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Geom] [geometry] NULL,
	[Exploitatie] [bigint] NULL,
	[Exploitant] [bigint] NULL,
	[Landbouwer] [bigint] NULL,
	[Gemeente] [nvarchar](255) NOT NULL,
	[Dierlijk] [float] NULL,
	[Kunstmest] [float] NULL,
 CONSTRAINT [PK_geoUitrijden] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[geoWeide]    Script Date: 8/06/2023 14:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[geoWeide](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Geom] [geometry] NULL,
	[Exploitatie] [bigint] NULL,
	[Exploitant] [bigint] NULL,
	[Landbouwer] [bigint] NULL,
	[Gemeente] [nvarchar](255) NOT NULL,
	[Emissie] [float] NULL,
 CONSTRAINT [PK_geoWeide] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IDENT_EXPLOITATIE]    Script Date: 8/06/2023 14:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IDENT_EXPLOITATIE](
	[ID] [uniqueidentifier] NOT NULL,
	[DA_PROC] [datetime] NULL,
	[DATUM_AFLADING] [datetime] NULL,
	[NR_LANDBOUWER_FICT] [bigint] NULL,
	[NR_EXPLOITANT_FICT] [bigint] NULL,
	[NR_EXPLOITATIE_FICT] [bigint] NULL,
	[STRAAT_NR_BUS_EXPLOITATIE_UITBAT] [nvarchar](100) NULL,
	[LAND_CO_POST_GEM_EXPLOITATIE_UIT] [nvarchar](100) NULL,
	[CO_NIS_FUSIEGEMEENTE] [int] NULL,
	[OMS_FUSIEGEMEENTE] [nvarchar](255) NULL,
	[DA_BEGIN_IE] [datetime] NULL,
	[DA_EINDE_IE] [datetime] NULL,
	[LINK_IVO] [nvarchar](25) NULL,
 CONSTRAINT [PK_IDENT_EXPLOITATIE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lnkGewassen]    Script Date: 8/06/2023 14:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lnkGewassen](
	[ID] [uniqueidentifier] NOT NULL,
	[CodeHoofdTeelt] [int] NULL,
	[GewasGroepID] [uniqueidentifier] NULL,
	[VersieID] [uniqueidentifier] NULL,
	[OmsHoofdTeelt] [nvarchar](100) NULL,
	[GewasGroepOogstrestID] [uniqueidentifier] NULL,
 CONSTRAINT [PK_lnkGewassen] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lnkKunstmest]    Script Date: 8/06/2023 14:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lnkKunstmest](
	[ID] [uniqueidentifier] NOT NULL,
	[CodeMeststof] [int] NOT NULL,
	[KunstmestGroepID] [uniqueidentifier] NOT NULL,
	[VersieID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_lnkKunstmest] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lnkKunstmestGroepStreek]    Script Date: 8/06/2023 14:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lnkKunstmestGroepStreek](
	[ID] [uniqueidentifier] NOT NULL,
	[EC] [float] NOT NULL,
	[KunstmestGroepID] [uniqueidentifier] NOT NULL,
	[LandbouwStreekID] [uniqueidentifier] NOT NULL,
	[VersieID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_lnkKunstmestGroepStreek] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lnkMestDierPlaats]    Script Date: 8/06/2023 14:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lnkMestDierPlaats](
	[ID] [uniqueidentifier] NOT NULL,
	[ToedieningsPlaatsID] [uniqueidentifier] NOT NULL,
	[MestTypeID] [uniqueidentifier] NOT NULL,
	[DierCategorieID] [uniqueidentifier] NOT NULL,
	[VersieID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_lnkMestDierPlaats] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lnkMestTechniekPlaats]    Script Date: 8/06/2023 14:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lnkMestTechniekPlaats](
	[ID] [uniqueidentifier] NOT NULL,
	[EC] [float] NULL,
	[AandeelInVlaanderen] [float] NULL,
	[ToedieningsPlaatsID] [uniqueidentifier] NULL,
	[MestTypeID] [uniqueidentifier] NULL,
	[ToedieningsTechniekID] [uniqueidentifier] NULL,
	[VersieID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_tblToedieningsTechniek] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lnkMestToedieningsEmissies]    Script Date: 8/06/2023 14:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lnkMestToedieningsEmissies](
	[ID] [uniqueidentifier] NOT NULL,
	[MestTypeID] [uniqueidentifier] NOT NULL,
	[DierCategorieID] [uniqueidentifier] NOT NULL,
	[PrioriteitUitrijden] [int] NOT NULL,
	[MinNFractie] [float] NOT NULL,
	[Nitrificatiegraad] [float] NOT NULL,
	[VersieID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_lnkToedieningsTechniekDierCategorie] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lnkStalDierSubCategorie]    Script Date: 8/06/2023 14:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lnkStalDierSubCategorie](
	[ID] [uniqueidentifier] NOT NULL,
	[DierSubCategorieID] [uniqueidentifier] NOT NULL,
	[StalID] [uniqueidentifier] NOT NULL,
	[AandeelInVlaanderen] [float] NULL,
	[EFNH3] [float] NULL,
	[ECN2OVM] [float] NULL,
	[ECN2OMM] [float] NULL,
	[ECNOVM] [float] NULL,
	[ECNOMM] [float] NULL,
	[ECN2MM] [float] NULL,
	[ECN2VM] [float] NULL,
	[Bezettingsgraad] [float] NULL,
	[MestNaam] [nvarchar](150) NULL,
	[Code] [nvarchar](50) NULL,
	[EC_NH3_Opslag] [float] NULL,
	[EC_N2O_Opslag] [float] NULL,
	[EC_NO_Opslag] [float] NULL,
	[EC_N2_Opslag] [float] NULL,
	[VersieID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_lnkStalTypeDierSubCategorie] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lutCheckType]    Script Date: 8/06/2023 14:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lutCheckType](
	[ID] [uniqueidentifier] NOT NULL,
	[Naam] [nvarchar](50) NOT NULL,
	[VersieID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_lutTypeCheck] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lutDierCategorie]    Script Date: 8/06/2023 14:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lutDierCategorie](
	[ID] [uniqueidentifier] NOT NULL,
	[Naam] [nvarchar](50) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[VersieID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_lutDierCategorie] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lutGewasGroep]    Script Date: 8/06/2023 14:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lutGewasGroep](
	[ID] [uniqueidentifier] NOT NULL,
	[Naam] [nvarchar](50) NULL,
	[ToedieningsPlaatsID] [uniqueidentifier] NULL,
	[VersieID] [uniqueidentifier] NULL,
	[PrioriteitUitrijden1] [int] NULL,
	[PrioriteitUitrijden2] [int] NULL,
 CONSTRAINT [PK_lutGewasGroep] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lutKunstmestGroep]    Script Date: 8/06/2023 14:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lutKunstmestGroep](
	[ID] [uniqueidentifier] NOT NULL,
	[Naam] [nvarchar](50) NOT NULL,
	[VersieID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_tblKunstmestGroep] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lutLandbouwStreek]    Script Date: 8/06/2023 14:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lutLandbouwStreek](
	[ID] [uniqueidentifier] NOT NULL,
	[Naam] [nvarchar](50) NOT NULL,
	[VersieID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_lutLandbouwstreek] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lutMestType]    Script Date: 8/06/2023 14:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lutMestType](
	[ID] [uniqueidentifier] NOT NULL,
	[Naam] [nvarchar](50) NOT NULL,
	[VersieID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_lutMestType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lutMestverwerkingsTechniek]    Script Date: 8/06/2023 14:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lutMestverwerkingsTechniek](
	[ID] [uniqueidentifier] NOT NULL,
	[Naam] [nvarchar](150) NOT NULL,
	[EC] [float] NOT NULL,
	[AandeelInVlaanderen] [float] NULL,
	[ZoekTermen] [nvarchar](200) NULL,
	[VersieID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_lutMestverwerkingsTechnieken] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lutStalType]    Script Date: 8/06/2023 14:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lutStalType](
	[ID] [uniqueidentifier] NOT NULL,
	[Naam] [nvarchar](50) NULL,
	[VersieID] [uniqueidentifier] NULL,
 CONSTRAINT [PK_lutStalType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lutToedieningsPlaats]    Script Date: 8/06/2023 14:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lutToedieningsPlaats](
	[ID] [uniqueidentifier] NOT NULL,
	[Naam] [nvarchar](50) NOT NULL,
	[MaxNTotaalPerHa] [float] NOT NULL,
	[VersieID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_lutToedieningsPlaats] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lutToedieningsTechniek]    Script Date: 8/06/2023 14:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lutToedieningsTechniek](
	[ID] [uniqueidentifier] NOT NULL,
	[Naam] [nvarchar](50) NOT NULL,
	[VersieID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_lutToedieningsTechniek] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MVW_UITBATING_ACTIVITEIT]    Script Date: 8/06/2023 14:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MVW_UITBATING_ACTIVITEIT](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[JR_PRODUCTIE] [decimal](11, 0) NULL,
	[UITBATERSNUMMER_FICT] [bigint] NULL,
	[UITBATINGSNUMMER_FICT] [bigint] NULL,
	[IND_BIOLOGIE] [nvarchar](1) NULL,
	[IND_COMPDROG] [nvarchar](1) NULL,
	[IND_POTGROND] [nvarchar](1) NULL,
	[IND_SUBSTRT] [nvarchar](1) NULL,
	[IND_CHAMPI] [nvarchar](1) NULL,
	[IND_TUINAAN] [nvarchar](1) NULL,
	[IND_VERGIST] [nvarchar](1) NULL,
	[ANDER_TYPE_ACTIVITEIT] [nvarchar](100) NULL,
	[IND_NH4_SPUIWATER] [nvarchar](1) NULL,
	[IND_NGAS_PRODUCTIE] [nvarchar](1) NULL,
 CONSTRAINT [PK_MVW_UITBATING_ACTIVITEIT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MVW_UITBATING_ADRESSEN]    Script Date: 8/06/2023 14:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MVW_UITBATING_ADRESSEN](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[UITBATERSNUMMER_FICT] [bigint] NULL,
	[UITBATINGSNUMMER_FICT] [bigint] NULL,
	[STRAAT_NR_BUS_EXPLOITATIE_UITBAT] [nvarchar](100) NULL,
	[LAND_CO_POST_GEM_EXPLOITATIE_UIT] [nvarchar](100) NULL,
	[CO_NIS_FUSIEGEMEENTE] [int] NULL,
	[OMS_FUSIEGEMEENTE] [nvarchar](255) NULL,
	[DA_BEGIN_IE] [datetime] NULL,
	[DA_EINDE_IE] [datetime] NULL,
 CONSTRAINT [PK_MVW_UITBATING_ADRESSEN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[spatial_ref_sys]    Script Date: 8/06/2023 14:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[spatial_ref_sys](
	[srid] [int] NOT NULL,
	[auth_name] [varchar](256) NULL,
	[auth_srid] [int] NULL,
	[srtext] [varchar](2048) NULL,
	[proj4text] [varchar](2048) NULL,
PRIMARY KEY CLUSTERED 
(
	[srid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STALLEN]    Script Date: 8/06/2023 14:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STALLEN](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DA_PROC] [datetime] NULL,
	[JR_PRODUCTIE] [decimal](11, 0) NULL,
	[NR_LANDBOUWER_FICT] [bigint] NULL,
	[NR_EXPLOITANT_FICT] [bigint] NULL,
	[NR_EXPLOITATIE_FICT] [bigint] NULL,
	[CODE_DIERGROEP] [nvarchar](10) NULL,
	[OMS_DIERGROEP] [nvarchar](100) NULL,
	[CODE_DIERSOORT] [nvarchar](10) NULL,
	[OMS_DIERSOORT] [nvarchar](100) NULL,
	[CODE_STALTYPE] [nvarchar](10) NULL,
	[OMS_STALTYPE] [nvarchar](120) NULL,
	[AAN_BEZETTING_STALTYPE] [float] NULL,
	[AAN_STANDPLAATSEN] [float] NULL,
	[PRC_VLOEIBARE] [float] NULL,
	[PRC_IN_STALLEN] [float] NULL,
 CONSTRAINT [PK_STALLEN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCheck]    Script Date: 8/06/2023 14:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCheck](
	[ID] [uniqueidentifier] NOT NULL,
	[TabelNaam] [nvarchar](250) NOT NULL,
	[KolomNaam] [nvarchar](250) NULL,
	[CheckTypeID] [uniqueidentifier] NOT NULL,
	[VersieID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_tblCheck] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblConvenant]    Script Date: 8/06/2023 14:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblConvenant](
	[ID] [uniqueidentifier] NOT NULL,
	[DierSubCategorieID] [uniqueidentifier] NOT NULL,
	[ConvenantMax] [float] NOT NULL,
	[ReductiePercentage] [float] NOT NULL,
	[VersieID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_tblConvenant] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDierSubCategorie]    Script Date: 8/06/2023 14:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDierSubCategorie](
	[ID] [uniqueidentifier] NOT NULL,
	[Naam] [nvarchar](50) NOT NULL,
	[Code] [varchar](50) NOT NULL,
	[Weidedagen] [int] NOT NULL,
	[DierCategorieID] [uniqueidentifier] NOT NULL,
	[VersieID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_tblDierSubCategorie] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblGebruiker]    Script Date: 8/06/2023 14:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGebruiker](
	[ID] [uniqueidentifier] NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[SurName] [nvarchar](100) NULL,
	[Login] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[Admin] [bit] NULL,
 CONSTRAINT [PK_tblGebruiker] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblParameter]    Script Date: 8/06/2023 14:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblParameter](
	[ID] [uniqueidentifier] NOT NULL,
	[Naam] [nvarchar](50) NOT NULL,
	[Waarde] [float] NOT NULL,
	[VersieID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_lutParameters] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPAS]    Script Date: 8/06/2023 14:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPAS](
	[ID] [uniqueidentifier] NOT NULL,
	[Naam] [nvarchar](50) NOT NULL,
	[ReductiePercentage] [float] NOT NULL,
	[PASStal] [bit] NOT NULL,
	[PASVoeding] [bit] NOT NULL,
	[PASWeide] [bit] NOT NULL,
	[VersieID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_tblPAS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblRegressie]    Script Date: 8/06/2023 14:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRegressie](
	[ID] [uniqueidentifier] NOT NULL,
	[DierSubCategorieID] [uniqueidentifier] NOT NULL,
	[RegressieMax] [float] NOT NULL,
	[ReductiePercentage] [float] NOT NULL,
	[VersieID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_tblRegressie] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblRegressieRechte]    Script Date: 8/06/2023 14:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRegressieRechte](
	[ID] [uniqueidentifier] NOT NULL,
	[DierSubCategorieID] [uniqueidentifier] NOT NULL,
	[a] [float] NOT NULL,
	[b] [float] NOT NULL,
	[VersieID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_tblRegressieRechte] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblStal]    Script Date: 8/06/2023 14:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblStal](
	[ID] [uniqueidentifier] NOT NULL,
	[Naam] [nvarchar](100) NULL,
	[Omschrijving] [nvarchar](250) NULL,
	[FractieVloeibaar] [float] NULL,
	[ReductiePercentage] [float] NULL,
	[MestTypeID] [uniqueidentifier] NULL,
	[StalTypeID] [uniqueidentifier] NULL,
	[VersieID] [uniqueidentifier] NULL,
 CONSTRAINT [PK_tblStalType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblVersie]    Script Date: 8/06/2023 14:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblVersie](
	[ID] [uniqueidentifier] NOT NULL,
	[Naam] [nvarchar](50) NULL,
	[GebruikerID] [uniqueidentifier] NULL,
	[Publiek] [bit] NULL,
 CONSTRAINT [PK_tblVersie] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VERVOER_MAD]    Script Date: 8/06/2023 14:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VERVOER_MAD](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DATUM_AFLADING] [datetime] NULL,
	[JR_VERVOER] [int] NULL,
	[CO_IDENT_EENH_ROL_AANBIEDER] [nvarchar](25) NULL,
	[NR_LANDBOUWER_ANB_FICT] [bigint] NULL,
	[NR_EXPLOITANT_ANB_FICT] [bigint] NULL,
	[NR_EXPLOITATIE_ANB_FICT] [bigint] NULL,
	[UITBATINGSNUMMER_ANB_FICT] [bigint] NULL,
	[UITBATERSNUMMER_ANB_FICT] [bigint] NULL,
	[CO_IDENT_EENH_ROL_AFNEMER] [nvarchar](25) NULL,
	[NR_LANDBOUWER_AFN_FICT] [bigint] NULL,
	[NR_EXPLOITANT_AFN_FICT] [bigint] NULL,
	[NR_EXPLOITATIE_AFN_FICT] [bigint] NULL,
	[UITBATERSNUMMER_AFN_FICT] [bigint] NULL,
	[UITBATINGSNUMMER_AFN_FICT] [bigint] NULL,
	[CO_GEWEST_LOSPLAATS] [nvarchar](25) NULL,
	[CO_MESTSTOF] [int] NULL,
	[GW_KG_N] [float] NULL,
	[CO_MESTVORM] [nvarchar](2) NULL,
	[CO_MESTTYPE] [nvarchar](2) NULL,
 CONSTRAINT [PK_VERVOER_MAD] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vlops_1000m_rooster]    Script Date: 8/06/2023 14:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vlops_1000m_rooster](
	[ogr_fid] [int] IDENTITY(1,1) NOT NULL,
	[ogr_geometry] [geometry] NULL,
	[isvlopscel] [numeric](10, 0) NULL,
	[id] [numeric](10, 0) NULL,
	[Emissie] [float] NULL,
 CONSTRAINT [PK_vlops_1000m_rooster] PRIMARY KEY CLUSTERED 
(
	[ogr_fid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vlops_250m_rooster]    Script Date: 8/06/2023 14:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vlops_250m_rooster](
	[ogr_fid] [int] IDENTITY(1,1) NOT NULL,
	[ogr_geometry] [geometry] NULL,
	[isvlopscel] [numeric](10, 0) NULL,
	[id] [numeric](10, 0) NULL,
 CONSTRAINT [PK_vlops_250m_rooster] PRIMARY KEY CLUSTERED 
(
	[ogr_fid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_geoEmissieVlops1000]    Script Date: 8/06/2023 14:26:25 ******/
ALTER TABLE [dbo].[geoEmissieVlops1000] ADD  CONSTRAINT [IX_geoEmissieVlops1000] UNIQUE NONCLUSTERED 
(
	[VlopsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_geoEmissieVlops250]    Script Date: 8/06/2023 14:26:25 ******/
ALTER TABLE [dbo].[geoEmissieVlops250] ADD  CONSTRAINT [IX_geoEmissieVlops250] UNIQUE NONCLUSTERED 
(
	[VlopsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [geoExploitant_Exploitatie_Landbouwer]    Script Date: 8/06/2023 14:26:25 ******/
CREATE UNIQUE NONCLUSTERED INDEX [geoExploitant_Exploitatie_Landbouwer] ON [dbo].[geoExploitatie]
(
	[Exploitant] ASC,
	[Exploitatie] ASC,
	[Landbouwer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [geoMestverwerking_Uitbating_Uitbater]    Script Date: 8/06/2023 14:26:25 ******/
CREATE UNIQUE NONCLUSTERED INDEX [geoMestverwerking_Uitbating_Uitbater] ON [dbo].[geoMestverwerking]
(
	[Uitbating] ASC,
	[Uitbater] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_lnkKunstmest]    Script Date: 8/06/2023 14:26:25 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_lnkKunstmest] ON [dbo].[lnkKunstmest]
(
	[CodeMeststof] ASC,
	[VersieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_lnkKunstmestGroepStreek]    Script Date: 8/06/2023 14:26:25 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_lnkKunstmestGroepStreek] ON [dbo].[lnkKunstmestGroepStreek]
(
	[KunstmestGroepID] ASC,
	[LandbouwStreekID] ASC,
	[VersieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_lnkMestDierPlaats]    Script Date: 8/06/2023 14:26:25 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_lnkMestDierPlaats] ON [dbo].[lnkMestDierPlaats]
(
	[DierCategorieID] ASC,
	[MestTypeID] ASC,
	[ToedieningsPlaatsID] ASC,
	[VersieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_lnkMestTechniekPlaats]    Script Date: 8/06/2023 14:26:25 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_lnkMestTechniekPlaats] ON [dbo].[lnkMestTechniekPlaats]
(
	[MestTypeID] ASC,
	[ToedieningsPlaatsID] ASC,
	[ToedieningsTechniekID] ASC,
	[VersieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_lnkMestToedieningsEmissies]    Script Date: 8/06/2023 14:26:25 ******/
ALTER TABLE [dbo].[lnkMestToedieningsEmissies] ADD  CONSTRAINT [IX_lnkMestToedieningsEmissies] UNIQUE NONCLUSTERED 
(
	[DierCategorieID] ASC,
	[MestTypeID] ASC,
	[VersieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_lnkStalTypeDierSubCategorie]    Script Date: 8/06/2023 14:26:25 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_lnkStalTypeDierSubCategorie] ON [dbo].[lnkStalDierSubCategorie]
(
	[DierSubCategorieID] ASC,
	[StalID] ASC,
	[VersieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_lutCheckType]    Script Date: 8/06/2023 14:26:25 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_lutCheckType] ON [dbo].[lutCheckType]
(
	[Naam] ASC,
	[VersieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_lutDierCategorie_Code]    Script Date: 8/06/2023 14:26:25 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_lutDierCategorie_Code] ON [dbo].[lutDierCategorie]
(
	[Code] ASC,
	[VersieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_lutDierCategorie_Naam]    Script Date: 8/06/2023 14:26:25 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_lutDierCategorie_Naam] ON [dbo].[lutDierCategorie]
(
	[Naam] ASC,
	[VersieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_lutGewasGroep]    Script Date: 8/06/2023 14:26:25 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_lutGewasGroep] ON [dbo].[lutGewasGroep]
(
	[Naam] ASC,
	[VersieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_lutLandbouwstreek]    Script Date: 8/06/2023 14:26:25 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_lutLandbouwstreek] ON [dbo].[lutLandbouwStreek]
(
	[Naam] ASC,
	[VersieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_lutMestType]    Script Date: 8/06/2023 14:26:25 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_lutMestType] ON [dbo].[lutMestType]
(
	[Naam] ASC,
	[VersieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_lutMestverwerkingsTechnieken]    Script Date: 8/06/2023 14:26:25 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_lutMestverwerkingsTechnieken] ON [dbo].[lutMestverwerkingsTechniek]
(
	[Naam] ASC,
	[VersieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_lutStalType]    Script Date: 8/06/2023 14:26:25 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_lutStalType] ON [dbo].[lutStalType]
(
	[Naam] ASC,
	[VersieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_lutToedieningsPlaats]    Script Date: 8/06/2023 14:26:25 ******/
ALTER TABLE [dbo].[lutToedieningsPlaats] ADD  CONSTRAINT [IX_lutToedieningsPlaats] UNIQUE NONCLUSTERED 
(
	[Naam] ASC,
	[VersieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_lutToedieningsTechniek]    Script Date: 8/06/2023 14:26:25 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_lutToedieningsTechniek] ON [dbo].[lutToedieningsTechniek]
(
	[Naam] ASC,
	[VersieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblDierSubCategorie_Code]    Script Date: 8/06/2023 14:26:25 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_tblDierSubCategorie_Code] ON [dbo].[tblDierSubCategorie]
(
	[Code] ASC,
	[VersieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblDierSubCategorie_Naam]    Script Date: 8/06/2023 14:26:25 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_tblDierSubCategorie_Naam] ON [dbo].[tblDierSubCategorie]
(
	[Naam] ASC,
	[VersieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_lutParameters]    Script Date: 8/06/2023 14:26:25 ******/
ALTER TABLE [dbo].[tblParameter] ADD  CONSTRAINT [IX_lutParameters] UNIQUE NONCLUSTERED 
(
	[Naam] ASC,
	[VersieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblPAS]    Script Date: 8/06/2023 14:26:25 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_tblPAS] ON [dbo].[tblPAS]
(
	[Naam] ASC,
	[VersieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblStalType]    Script Date: 8/06/2023 14:26:25 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_tblStalType] ON [dbo].[tblStal]
(
	[Naam] ASC,
	[VersieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[geoEmissieGemeente] ADD  CONSTRAINT [DF_geoEmissieGemeente_Weide]  DEFAULT ((0)) FOR [Weide]
GO
ALTER TABLE [dbo].[geoEmissieGemeente] ADD  CONSTRAINT [DF_geoEmissieGemeente_Stal]  DEFAULT ((0)) FOR [Stal]
GO
ALTER TABLE [dbo].[geoEmissieGemeente] ADD  CONSTRAINT [DF_geoEmissieGemeente_Opslag]  DEFAULT ((0)) FOR [Opslag]
GO
ALTER TABLE [dbo].[geoEmissieGemeente] ADD  CONSTRAINT [DF_geoEmissieGemeente_UitrijdenDierlijk]  DEFAULT ((0)) FOR [Dierlijk]
GO
ALTER TABLE [dbo].[geoEmissieGemeente] ADD  CONSTRAINT [DF_geoEmissieGemeente_UitrijdenKunstmest]  DEFAULT ((0)) FOR [Kunstmest]
GO
ALTER TABLE [dbo].[geoEmissieGemeente] ADD  CONSTRAINT [DF_geoEmissieGemeente_Mestverwerking]  DEFAULT ((0)) FOR [MestVerw]
GO
ALTER TABLE [dbo].[geoEmissieGemeente] ADD  CONSTRAINT [DF_geoEmissieGemeente_Totaal]  DEFAULT ((0)) FOR [Totaal]
GO
ALTER TABLE [dbo].[geoEmissieVlops1000] ADD  CONSTRAINT [DF_geoEmissieVlops1000_Weide]  DEFAULT ((0)) FOR [Weide]
GO
ALTER TABLE [dbo].[geoEmissieVlops1000] ADD  CONSTRAINT [DF_geoEmissieVlops1000_Stal]  DEFAULT ((0)) FOR [Stal]
GO
ALTER TABLE [dbo].[geoEmissieVlops1000] ADD  CONSTRAINT [DF_geoEmissieVlops1000_Opslag]  DEFAULT ((0)) FOR [Opslag]
GO
ALTER TABLE [dbo].[geoEmissieVlops1000] ADD  CONSTRAINT [DF_geoEmissieVlops1000_Dierlijk]  DEFAULT ((0)) FOR [Dierlijk]
GO
ALTER TABLE [dbo].[geoEmissieVlops1000] ADD  CONSTRAINT [DF_geoEmissieVlops1000_Kunstmest]  DEFAULT ((0)) FOR [Kunstmest]
GO
ALTER TABLE [dbo].[geoEmissieVlops1000] ADD  CONSTRAINT [DF_geoEmissieVlops1000_Totaal]  DEFAULT ((0)) FOR [Totaal]
GO
ALTER TABLE [dbo].[geoEmissieVlops250] ADD  CONSTRAINT [DF_geoEmissieVlops250_Weide]  DEFAULT ((0)) FOR [Weide]
GO
ALTER TABLE [dbo].[geoEmissieVlops250] ADD  CONSTRAINT [DF_geoEmissieVlops250_Stal]  DEFAULT ((0)) FOR [Stal]
GO
ALTER TABLE [dbo].[geoEmissieVlops250] ADD  CONSTRAINT [DF_geoEmissieVlops250_Opslag]  DEFAULT ((0)) FOR [Opslag]
GO
ALTER TABLE [dbo].[geoEmissieVlops250] ADD  CONSTRAINT [DF_geoEmissieVlops250_Dierlijk]  DEFAULT ((0)) FOR [Dierlijk]
GO
ALTER TABLE [dbo].[geoEmissieVlops250] ADD  CONSTRAINT [DF_geoEmissieVlops250_Kunstmest]  DEFAULT ((0)) FOR [Kunstmest]
GO
ALTER TABLE [dbo].[geoEmissieVlops250] ADD  CONSTRAINT [DF_geoEmissieVlops250_Totaal]  DEFAULT ((0)) FOR [Totaal]
GO
ALTER TABLE [dbo].[IDENT_EXPLOITATIE] ADD  CONSTRAINT [DF_IDENT_EXPLOITATIE_ID]  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[lnkGewassen] ADD  CONSTRAINT [DF_lnkGewassen_ID]  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[lnkKunstmest] ADD  CONSTRAINT [DF_lnkKunstmest_ID]  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[lnkKunstmestGroepStreek] ADD  CONSTRAINT [DF_lnkKunstmestGroepStreek_ID]  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[lnkMestDierPlaats] ADD  CONSTRAINT [DF_lnkMestDierPlaats_ID]  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[lnkMestTechniekPlaats] ADD  CONSTRAINT [DF_tblToedieningsTechniek_ID]  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[lnkMestToedieningsEmissies] ADD  CONSTRAINT [DF_lnkToedieningsTechniekDierCategorie_ID]  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[lnkStalDierSubCategorie] ADD  CONSTRAINT [DF_lnkStalTypeDierSubCategorie_ID]  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[lutCheckType] ADD  CONSTRAINT [DF_lutCheckType_ID]  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[lutDierCategorie] ADD  CONSTRAINT [DF_lutDierCategorie_ID]  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[lutGewasGroep] ADD  CONSTRAINT [DF_lutGewasGroep_ID]  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[lutKunstmestGroep] ADD  CONSTRAINT [DF_tblKunstmestGroep_ID]  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[lutLandbouwStreek] ADD  CONSTRAINT [DF_lutLandbouwstreek_ID]  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[lutMestType] ADD  CONSTRAINT [DF_lutMestType_ID]  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[lutMestverwerkingsTechniek] ADD  CONSTRAINT [DF_lutMestverwerkingsTechnieken_ID]  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[lutStalType] ADD  CONSTRAINT [DF_lutStalType_ID]  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[lutToedieningsPlaats] ADD  CONSTRAINT [DF_lutToedieningsPlaats_ID]  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[lutToedieningsTechniek] ADD  CONSTRAINT [DF_lutToedieningsTechniek_ID]  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[tblCheck] ADD  CONSTRAINT [DF_tblCheck_ID]  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[tblConvenant] ADD  CONSTRAINT [DF_tblConvenant_ID]  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[tblDierSubCategorie] ADD  CONSTRAINT [DF_tblDierSubCategorie_ID]  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[tblGebruiker] ADD  CONSTRAINT [DF_tblGebruiker_ID]  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[tblParameter] ADD  CONSTRAINT [DF_lutParameters_ID]  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[tblPAS] ADD  CONSTRAINT [DF_tblPAS_ID]  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[tblPAS] ADD  CONSTRAINT [DF_tblPAS_PASStal]  DEFAULT ((0)) FOR [PASStal]
GO
ALTER TABLE [dbo].[tblPAS] ADD  CONSTRAINT [DF_tblPAS_PASVoeding]  DEFAULT ((0)) FOR [PASVoeding]
GO
ALTER TABLE [dbo].[tblPAS] ADD  CONSTRAINT [DF_tblPAS_PASWeide]  DEFAULT ((0)) FOR [PASWeide]
GO
ALTER TABLE [dbo].[tblRegressie] ADD  CONSTRAINT [DF_tblRegressie_ID]  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[tblRegressie] ADD  CONSTRAINT [DF_tblRegressie_VersieID]  DEFAULT (newsequentialid()) FOR [VersieID]
GO
ALTER TABLE [dbo].[tblRegressieRechte] ADD  CONSTRAINT [DF_tblRegressieRechte_ID]  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[tblStal] ADD  CONSTRAINT [DF_tblStal_ID]  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[tblVersie] ADD  CONSTRAINT [DF_tblVersie_ID]  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[geoEmissieGemeente]  WITH CHECK ADD  CONSTRAINT [FK_geoEmissieGemeente_geoProvincie] FOREIGN KEY([ProvincieID])
REFERENCES [dbo].[geoProvincie] ([ID])
GO
ALTER TABLE [dbo].[geoEmissieGemeente] CHECK CONSTRAINT [FK_geoEmissieGemeente_geoProvincie]
GO
ALTER TABLE [dbo].[geoEmissieGemeente_2019]  WITH CHECK ADD  CONSTRAINT [FK_geoEmissieGemeente_2019_geoProvincie] FOREIGN KEY([ProvincieID])
REFERENCES [dbo].[geoProvincie] ([ID])
GO
ALTER TABLE [dbo].[geoEmissieGemeente_2019] CHECK CONSTRAINT [FK_geoEmissieGemeente_2019_geoProvincie]
GO
ALTER TABLE [dbo].[lnkKunstmest]  WITH CHECK ADD  CONSTRAINT [FK_lnkKunstmest_tblKunstmestGroep] FOREIGN KEY([KunstmestGroepID])
REFERENCES [dbo].[lutKunstmestGroep] ([ID])
GO
ALTER TABLE [dbo].[lnkKunstmest] CHECK CONSTRAINT [FK_lnkKunstmest_tblKunstmestGroep]
GO
ALTER TABLE [dbo].[lnkKunstmest]  WITH CHECK ADD  CONSTRAINT [FK_lnkKunstmest_tblVersie] FOREIGN KEY([VersieID])
REFERENCES [dbo].[tblVersie] ([ID])
GO
ALTER TABLE [dbo].[lnkKunstmest] CHECK CONSTRAINT [FK_lnkKunstmest_tblVersie]
GO
ALTER TABLE [dbo].[lnkKunstmestGroepStreek]  WITH CHECK ADD  CONSTRAINT [FK_lnkKunstmestGroepStreek_lutKunstmestGroep] FOREIGN KEY([KunstmestGroepID])
REFERENCES [dbo].[lutKunstmestGroep] ([ID])
GO
ALTER TABLE [dbo].[lnkKunstmestGroepStreek] CHECK CONSTRAINT [FK_lnkKunstmestGroepStreek_lutKunstmestGroep]
GO
ALTER TABLE [dbo].[lnkKunstmestGroepStreek]  WITH CHECK ADD  CONSTRAINT [FK_lnkKunstmestGroepStreek_lutLandbouwstreek] FOREIGN KEY([LandbouwStreekID])
REFERENCES [dbo].[lutLandbouwStreek] ([ID])
GO
ALTER TABLE [dbo].[lnkKunstmestGroepStreek] CHECK CONSTRAINT [FK_lnkKunstmestGroepStreek_lutLandbouwstreek]
GO
ALTER TABLE [dbo].[lnkKunstmestGroepStreek]  WITH CHECK ADD  CONSTRAINT [FK_lnkKunstmestGroepStreek_tblVersie] FOREIGN KEY([VersieID])
REFERENCES [dbo].[tblVersie] ([ID])
GO
ALTER TABLE [dbo].[lnkKunstmestGroepStreek] CHECK CONSTRAINT [FK_lnkKunstmestGroepStreek_tblVersie]
GO
ALTER TABLE [dbo].[lnkMestDierPlaats]  WITH CHECK ADD  CONSTRAINT [FK_lnkMestDierPlaats_lutDierCategorie] FOREIGN KEY([DierCategorieID])
REFERENCES [dbo].[lutDierCategorie] ([ID])
GO
ALTER TABLE [dbo].[lnkMestDierPlaats] CHECK CONSTRAINT [FK_lnkMestDierPlaats_lutDierCategorie]
GO
ALTER TABLE [dbo].[lnkMestDierPlaats]  WITH CHECK ADD  CONSTRAINT [FK_lnkMestDierPlaats_lutMestType] FOREIGN KEY([MestTypeID])
REFERENCES [dbo].[lutMestType] ([ID])
GO
ALTER TABLE [dbo].[lnkMestDierPlaats] CHECK CONSTRAINT [FK_lnkMestDierPlaats_lutMestType]
GO
ALTER TABLE [dbo].[lnkMestDierPlaats]  WITH CHECK ADD  CONSTRAINT [FK_lnkMestDierPlaats_lutToedieningsPlaats] FOREIGN KEY([ToedieningsPlaatsID])
REFERENCES [dbo].[lutToedieningsPlaats] ([ID])
GO
ALTER TABLE [dbo].[lnkMestDierPlaats] CHECK CONSTRAINT [FK_lnkMestDierPlaats_lutToedieningsPlaats]
GO
ALTER TABLE [dbo].[lnkMestDierPlaats]  WITH CHECK ADD  CONSTRAINT [FK_lnkMestDierPlaats_tblVersie] FOREIGN KEY([VersieID])
REFERENCES [dbo].[tblVersie] ([ID])
GO
ALTER TABLE [dbo].[lnkMestDierPlaats] CHECK CONSTRAINT [FK_lnkMestDierPlaats_tblVersie]
GO
ALTER TABLE [dbo].[lnkMestTechniekPlaats]  WITH CHECK ADD  CONSTRAINT [FK_lnkMestTechniekPlaats_lutMestType] FOREIGN KEY([MestTypeID])
REFERENCES [dbo].[lutMestType] ([ID])
GO
ALTER TABLE [dbo].[lnkMestTechniekPlaats] CHECK CONSTRAINT [FK_lnkMestTechniekPlaats_lutMestType]
GO
ALTER TABLE [dbo].[lnkMestTechniekPlaats]  WITH CHECK ADD  CONSTRAINT [FK_lnkMestTechniekPlaats_lutToedieningsPlaats] FOREIGN KEY([ToedieningsPlaatsID])
REFERENCES [dbo].[lutToedieningsPlaats] ([ID])
GO
ALTER TABLE [dbo].[lnkMestTechniekPlaats] CHECK CONSTRAINT [FK_lnkMestTechniekPlaats_lutToedieningsPlaats]
GO
ALTER TABLE [dbo].[lnkMestTechniekPlaats]  WITH CHECK ADD  CONSTRAINT [FK_lnkMestTechniekPlaats_lutToedieningsTechniek] FOREIGN KEY([ToedieningsTechniekID])
REFERENCES [dbo].[lutToedieningsTechniek] ([ID])
GO
ALTER TABLE [dbo].[lnkMestTechniekPlaats] CHECK CONSTRAINT [FK_lnkMestTechniekPlaats_lutToedieningsTechniek]
GO
ALTER TABLE [dbo].[lnkMestTechniekPlaats]  WITH CHECK ADD  CONSTRAINT [FK_lnkMestTechniekPlaats_tblVersie] FOREIGN KEY([VersieID])
REFERENCES [dbo].[tblVersie] ([ID])
GO
ALTER TABLE [dbo].[lnkMestTechniekPlaats] CHECK CONSTRAINT [FK_lnkMestTechniekPlaats_tblVersie]
GO
ALTER TABLE [dbo].[lnkMestToedieningsEmissies]  WITH CHECK ADD  CONSTRAINT [FK_lnkMestToedieningsEmissies_lutDierCategorie] FOREIGN KEY([DierCategorieID])
REFERENCES [dbo].[lutDierCategorie] ([ID])
GO
ALTER TABLE [dbo].[lnkMestToedieningsEmissies] CHECK CONSTRAINT [FK_lnkMestToedieningsEmissies_lutDierCategorie]
GO
ALTER TABLE [dbo].[lnkMestToedieningsEmissies]  WITH CHECK ADD  CONSTRAINT [FK_lnkMestToedieningsEmissies_lutMestType] FOREIGN KEY([MestTypeID])
REFERENCES [dbo].[lutMestType] ([ID])
GO
ALTER TABLE [dbo].[lnkMestToedieningsEmissies] CHECK CONSTRAINT [FK_lnkMestToedieningsEmissies_lutMestType]
GO
ALTER TABLE [dbo].[lnkMestToedieningsEmissies]  WITH CHECK ADD  CONSTRAINT [FK_lnkMestToedieningsEmissies_tblVersie] FOREIGN KEY([VersieID])
REFERENCES [dbo].[tblVersie] ([ID])
GO
ALTER TABLE [dbo].[lnkMestToedieningsEmissies] CHECK CONSTRAINT [FK_lnkMestToedieningsEmissies_tblVersie]
GO
ALTER TABLE [dbo].[lnkStalDierSubCategorie]  WITH CHECK ADD  CONSTRAINT [FK_lnkStalDierSubCategorie_tblVersie] FOREIGN KEY([VersieID])
REFERENCES [dbo].[tblVersie] ([ID])
GO
ALTER TABLE [dbo].[lnkStalDierSubCategorie] CHECK CONSTRAINT [FK_lnkStalDierSubCategorie_tblVersie]
GO
ALTER TABLE [dbo].[lnkStalDierSubCategorie]  WITH CHECK ADD  CONSTRAINT [FK_lnkStalTypeDierSubCategorie_tblDierSubCategorie] FOREIGN KEY([DierSubCategorieID])
REFERENCES [dbo].[tblDierSubCategorie] ([ID])
GO
ALTER TABLE [dbo].[lnkStalDierSubCategorie] CHECK CONSTRAINT [FK_lnkStalTypeDierSubCategorie_tblDierSubCategorie]
GO
ALTER TABLE [dbo].[lnkStalDierSubCategorie]  WITH CHECK ADD  CONSTRAINT [FK_lnkStalTypeDierSubCategorie_tblStalType] FOREIGN KEY([StalID])
REFERENCES [dbo].[tblStal] ([ID])
GO
ALTER TABLE [dbo].[lnkStalDierSubCategorie] CHECK CONSTRAINT [FK_lnkStalTypeDierSubCategorie_tblStalType]
GO
ALTER TABLE [dbo].[lutCheckType]  WITH CHECK ADD  CONSTRAINT [FK_lutCheckType_tblVersie] FOREIGN KEY([VersieID])
REFERENCES [dbo].[tblVersie] ([ID])
GO
ALTER TABLE [dbo].[lutCheckType] CHECK CONSTRAINT [FK_lutCheckType_tblVersie]
GO
ALTER TABLE [dbo].[lutDierCategorie]  WITH CHECK ADD  CONSTRAINT [FK_lutDierCategorie_tblVersie] FOREIGN KEY([VersieID])
REFERENCES [dbo].[tblVersie] ([ID])
GO
ALTER TABLE [dbo].[lutDierCategorie] CHECK CONSTRAINT [FK_lutDierCategorie_tblVersie]
GO
ALTER TABLE [dbo].[lutKunstmestGroep]  WITH CHECK ADD  CONSTRAINT [FK_tblKunstmestGroep_tblVersie] FOREIGN KEY([VersieID])
REFERENCES [dbo].[tblVersie] ([ID])
GO
ALTER TABLE [dbo].[lutKunstmestGroep] CHECK CONSTRAINT [FK_tblKunstmestGroep_tblVersie]
GO
ALTER TABLE [dbo].[lutLandbouwStreek]  WITH CHECK ADD  CONSTRAINT [FK_lutLandbouwstreek_tblVersie] FOREIGN KEY([VersieID])
REFERENCES [dbo].[tblVersie] ([ID])
GO
ALTER TABLE [dbo].[lutLandbouwStreek] CHECK CONSTRAINT [FK_lutLandbouwstreek_tblVersie]
GO
ALTER TABLE [dbo].[lutMestType]  WITH CHECK ADD  CONSTRAINT [FK_lutMestType_tblVersie] FOREIGN KEY([VersieID])
REFERENCES [dbo].[tblVersie] ([ID])
GO
ALTER TABLE [dbo].[lutMestType] CHECK CONSTRAINT [FK_lutMestType_tblVersie]
GO
ALTER TABLE [dbo].[lutMestverwerkingsTechniek]  WITH CHECK ADD  CONSTRAINT [FK_lutMestverwerkingsTechniek_tblVersie] FOREIGN KEY([VersieID])
REFERENCES [dbo].[tblVersie] ([ID])
GO
ALTER TABLE [dbo].[lutMestverwerkingsTechniek] CHECK CONSTRAINT [FK_lutMestverwerkingsTechniek_tblVersie]
GO
ALTER TABLE [dbo].[lutToedieningsPlaats]  WITH CHECK ADD  CONSTRAINT [FK_lutToedieningsPlaats_tblVersie] FOREIGN KEY([VersieID])
REFERENCES [dbo].[tblVersie] ([ID])
GO
ALTER TABLE [dbo].[lutToedieningsPlaats] CHECK CONSTRAINT [FK_lutToedieningsPlaats_tblVersie]
GO
ALTER TABLE [dbo].[lutToedieningsTechniek]  WITH CHECK ADD  CONSTRAINT [FK_lutToedieningsTechniek_tblVersie] FOREIGN KEY([VersieID])
REFERENCES [dbo].[tblVersie] ([ID])
GO
ALTER TABLE [dbo].[lutToedieningsTechniek] CHECK CONSTRAINT [FK_lutToedieningsTechniek_tblVersie]
GO
ALTER TABLE [dbo].[tblCheck]  WITH CHECK ADD  CONSTRAINT [FK_tblCheck_lutCheckType] FOREIGN KEY([CheckTypeID])
REFERENCES [dbo].[lutCheckType] ([ID])
GO
ALTER TABLE [dbo].[tblCheck] CHECK CONSTRAINT [FK_tblCheck_lutCheckType]
GO
ALTER TABLE [dbo].[tblCheck]  WITH CHECK ADD  CONSTRAINT [FK_tblCheck_tblVersie] FOREIGN KEY([VersieID])
REFERENCES [dbo].[tblVersie] ([ID])
GO
ALTER TABLE [dbo].[tblCheck] CHECK CONSTRAINT [FK_tblCheck_tblVersie]
GO
ALTER TABLE [dbo].[tblConvenant]  WITH CHECK ADD  CONSTRAINT [FK_tblConvenant_tblDierSubCategorie] FOREIGN KEY([DierSubCategorieID])
REFERENCES [dbo].[tblDierSubCategorie] ([ID])
GO
ALTER TABLE [dbo].[tblConvenant] CHECK CONSTRAINT [FK_tblConvenant_tblDierSubCategorie]
GO
ALTER TABLE [dbo].[tblConvenant]  WITH CHECK ADD  CONSTRAINT [FK_tblConvenant_tblVersie] FOREIGN KEY([VersieID])
REFERENCES [dbo].[tblVersie] ([ID])
GO
ALTER TABLE [dbo].[tblConvenant] CHECK CONSTRAINT [FK_tblConvenant_tblVersie]
GO
ALTER TABLE [dbo].[tblDierSubCategorie]  WITH CHECK ADD  CONSTRAINT [FK_tblDierSubCategorie_tblDierSubCategorie] FOREIGN KEY([DierCategorieID])
REFERENCES [dbo].[lutDierCategorie] ([ID])
GO
ALTER TABLE [dbo].[tblDierSubCategorie] CHECK CONSTRAINT [FK_tblDierSubCategorie_tblDierSubCategorie]
GO
ALTER TABLE [dbo].[tblDierSubCategorie]  WITH CHECK ADD  CONSTRAINT [FK_tblDierSubCategorie_tblVersie] FOREIGN KEY([VersieID])
REFERENCES [dbo].[tblVersie] ([ID])
GO
ALTER TABLE [dbo].[tblDierSubCategorie] CHECK CONSTRAINT [FK_tblDierSubCategorie_tblVersie]
GO
ALTER TABLE [dbo].[tblParameter]  WITH CHECK ADD  CONSTRAINT [FK_lutParameter_tblVersie] FOREIGN KEY([VersieID])
REFERENCES [dbo].[tblVersie] ([ID])
GO
ALTER TABLE [dbo].[tblParameter] CHECK CONSTRAINT [FK_lutParameter_tblVersie]
GO
ALTER TABLE [dbo].[tblPAS]  WITH CHECK ADD  CONSTRAINT [FK_tblPAS_tblVersie] FOREIGN KEY([VersieID])
REFERENCES [dbo].[tblVersie] ([ID])
GO
ALTER TABLE [dbo].[tblPAS] CHECK CONSTRAINT [FK_tblPAS_tblVersie]
GO
ALTER TABLE [dbo].[tblRegressie]  WITH CHECK ADD  CONSTRAINT [FK_tblRegressie_tblDierSubCategorie] FOREIGN KEY([DierSubCategorieID])
REFERENCES [dbo].[tblDierSubCategorie] ([ID])
GO
ALTER TABLE [dbo].[tblRegressie] CHECK CONSTRAINT [FK_tblRegressie_tblDierSubCategorie]
GO
ALTER TABLE [dbo].[tblRegressie]  WITH CHECK ADD  CONSTRAINT [FK_tblRegressie_tblVersie] FOREIGN KEY([VersieID])
REFERENCES [dbo].[tblVersie] ([ID])
GO
ALTER TABLE [dbo].[tblRegressie] CHECK CONSTRAINT [FK_tblRegressie_tblVersie]
GO
ALTER TABLE [dbo].[tblRegressieRechte]  WITH CHECK ADD  CONSTRAINT [FK_tblRegressieRechte_tblDierSubCategorie] FOREIGN KEY([DierSubCategorieID])
REFERENCES [dbo].[tblDierSubCategorie] ([ID])
GO
ALTER TABLE [dbo].[tblRegressieRechte] CHECK CONSTRAINT [FK_tblRegressieRechte_tblDierSubCategorie]
GO
ALTER TABLE [dbo].[tblRegressieRechte]  WITH CHECK ADD  CONSTRAINT [FK_tblRegressieRechte_tblVersie] FOREIGN KEY([VersieID])
REFERENCES [dbo].[tblVersie] ([ID])
GO
ALTER TABLE [dbo].[tblRegressieRechte] CHECK CONSTRAINT [FK_tblRegressieRechte_tblVersie]
GO
/****** Object:  StoredProcedure [dbo].[adm_VersieVerwijderen]    Script Date: 8/06/2023 14:26:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[adm_VersieVerwijderen] 
	-- Add the parameters for the stored procedure here
	@versieNaam nvarchar(50) 
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @versieID uniqueidentifier 	
	select @versieID = id from tblVersie where Naam = @versieNaam;
    -- Insert statements for procedure here
	
	delete from lnkAEAStalSysteemDierSubCategorie where VersieID = @versieid;
	delete from lnkMestDierPlaats where VersieID = @versieid;	
	delete from lnkMestTechniekPlaats where VersieID = @versieid;
	delete from lnkMestToedieningsEmissies where VersieID = @versieid;
	delete from tblMestOpslag where VersieID = @versieid;
	delete from lnkStalDierSubCategorie where VersieID = @versieid;	
	delete from tblConvenant where VersieID = versieid;
	delete from tblRegressie where VersieID = versieid;
	delete from tblRegressieRechte where VersieID = versieid;
	delete from tblDierSubCategorie where VersieID = @versieid;
	delete from tblStal where VersieID = @versieid;
	delete from tblCheck where VersieID = @versieid;
	delete from lutAEAStalSysteem where VersieID = @versieid;
	delete from lutCheckType where VersieID = @versieid;
	delete from lutDierCategorie where VersieID = @versieid;
	delete from lutMestType where VersieID = @versieid;
	delete from lutParameter where VersieID = @versieid;
	delete from lutStalType where VersieID = @versieid;
	delete from lutToedieningsPlaats where VersieID = @versieid;
	delete from lutToedieningsTechniek where VersieID = @versieid;
	delete from tblVersie where ID = @versieid;
END



GO
/****** Object:  StoredProcedure [dbo].[OrdenBemestingsPercelenVoorUitrijden]    Script Date: 8/06/2023 14:26:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[OrdenBemestingsPercelenVoorUitrijden] 
	@jaar int,
	@versie nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT 
	lnkG.CodeHoofdTeelt as CodeHoofdTeelt,
	COALESCE(bem.NR_EXPLOITANT_FICT, 0) as Exploitant,
	COALESCE(bem.NR_EXPLOITATIE_FICT, 0) as Exploitatie,
	COALESCE(bem.NR_LANDBOUWER_FICT, 0) as Landbouwer,
	bem.OMS_LANDBOUWSTREEK as LandbouwStreek,
	bem.NM_GEMEENTE_BESTAND as Gemeente, 
	COALESCE(bem.OPP_HA_NETTO, 0.0) as Opp_ha,
	COALESCE(bem.NR_SEQ_PERCEEL, 0) as PerceelsNr,
	COALESCE(bem.X_LABEL, 0.0) as X,
	COALESCE(bem.Y_LABEL, 0.0) as Y,
	lut.PrioriteitUitrijden1 as PrioriteitUitrijdenGewas1, 
	lut.PrioriteitUitrijden2 as PrioriteitUitrijdenGewas2,
	lut.Naam as GewasGroep,
	pl.Naam as ToedieningsPlaats,  
	pl.MaxNTotaalPerHa as MaxNTotaalPerHa
	from BEMESTING as bem inner join lnkGewassen as lnkG on bem.CO_GEWAS_HOOFDTEELT = lnkG.CodeHoofdTeelt
          inner join lutGewasGroep as lut on lnkG.GewasGroepID = lut.ID
            inner join lutToedieningsPlaats as pl on  lut.ToedieningsPlaatsID = pl.ID
			inner join tblVersie on lnkg.VersieID = tblVersie.ID
      where tblVersie.Naam = @versie and bem.JR_PRODUCTIE = @jaar
	  AND 
	  (bem.CO_PRODUCTIEMETHODE not in ('SER', 'SGM', 'PLA', 'NPO', 'CON', 'CIV', 'LOO')
             OR bem.CO_PRODUCTIEMETHODE is null
			 )                   
								AND bem.OPP_HA_NETTO > 0
                                AND (bem.CO_GEWAS_HOOFDTEELT <= 2 OR bem.IND_GEBRUIK0101 = 'J')
        

		   
       

       
       
       
END


GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF
GO
/****** Object:  Index [SPATIAL_geoEmissieGemeente]    Script Date: 8/06/2023 14:26:25 ******/
CREATE SPATIAL INDEX [SPATIAL_geoEmissieGemeente] ON [dbo].[geoEmissieGemeente]
(
	[Geom]
)USING  GEOMETRY_GRID 
WITH (BOUNDING_BOX =(0, 0, 260000, 260000), GRIDS =(LEVEL_1 = HIGH,LEVEL_2 = HIGH,LEVEL_3 = HIGH,LEVEL_4 = HIGH), 
CELLS_PER_OBJECT = 16, PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF
GO
/****** Object:  Index [SPATIAL_geoEmissieMestverwerking]    Script Date: 8/06/2023 14:26:25 ******/
CREATE SPATIAL INDEX [SPATIAL_geoEmissieMestverwerking] ON [dbo].[geoEmissieMestverwerking]
(
	[Geom]
)USING  GEOMETRY_GRID 
WITH (BOUNDING_BOX =(0, 0, 260000, 260000), GRIDS =(LEVEL_1 = MEDIUM,LEVEL_2 = MEDIUM,LEVEL_3 = MEDIUM,LEVEL_4 = MEDIUM), 
CELLS_PER_OBJECT = 16, PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF
GO
/****** Object:  Index [SPATIAL_geoEmissieVlops1000]    Script Date: 8/06/2023 14:26:25 ******/
CREATE SPATIAL INDEX [SPATIAL_geoEmissieVlops1000] ON [dbo].[geoEmissieVlops1000]
(
	[Geom]
)USING  GEOMETRY_GRID 
WITH (BOUNDING_BOX =(0, 0, 260000, 260000), GRIDS =(LEVEL_1 = MEDIUM,LEVEL_2 = MEDIUM,LEVEL_3 = MEDIUM,LEVEL_4 = MEDIUM), 
CELLS_PER_OBJECT = 16, PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF
GO
/****** Object:  Index [SPATIAL_geoEmissieVlops250]    Script Date: 8/06/2023 14:26:25 ******/
CREATE SPATIAL INDEX [SPATIAL_geoEmissieVlops250] ON [dbo].[geoEmissieVlops250]
(
	[Geom]
)USING  GEOMETRY_GRID 
WITH (BOUNDING_BOX =(0, 0, 260000, 260000), GRIDS =(LEVEL_1 = MEDIUM,LEVEL_2 = MEDIUM,LEVEL_3 = MEDIUM,LEVEL_4 = MEDIUM), 
CELLS_PER_OBJECT = 16, PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF
GO
/****** Object:  Index [SPATIAL_geoExploitatie]    Script Date: 8/06/2023 14:26:25 ******/
CREATE SPATIAL INDEX [SPATIAL_geoExploitatie] ON [dbo].[geoExploitatie]
(
	[Geom]
)USING  GEOMETRY_GRID 
WITH (BOUNDING_BOX =(0, 0, 260000, 260000), GRIDS =(LEVEL_1 = MEDIUM,LEVEL_2 = MEDIUM,LEVEL_3 = MEDIUM,LEVEL_4 = MEDIUM), 
CELLS_PER_OBJECT = 16, PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF
GO
/****** Object:  Index [SPATIAL_geoMestverwerking]    Script Date: 8/06/2023 14:26:25 ******/
CREATE SPATIAL INDEX [SPATIAL_geoMestverwerking] ON [dbo].[geoMestverwerking]
(
	[Geom]
)USING  GEOMETRY_GRID 
WITH (BOUNDING_BOX =(0, 0, 260000, 260000), GRIDS =(LEVEL_1 = MEDIUM,LEVEL_2 = MEDIUM,LEVEL_3 = MEDIUM,LEVEL_4 = MEDIUM), 
CELLS_PER_OBJECT = 16, PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF
GO
/****** Object:  Index [SPATIAL_geoOpslag]    Script Date: 8/06/2023 14:26:25 ******/
CREATE SPATIAL INDEX [SPATIAL_geoOpslag] ON [dbo].[geoOpslag]
(
	[Geom]
)USING  GEOMETRY_GRID 
WITH (BOUNDING_BOX =(0, 0, 260000, 260000), GRIDS =(LEVEL_1 = MEDIUM,LEVEL_2 = MEDIUM,LEVEL_3 = MEDIUM,LEVEL_4 = MEDIUM), 
CELLS_PER_OBJECT = 16, PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF
GO
/****** Object:  Index [SPATIAL_Table_1]    Script Date: 8/06/2023 14:26:25 ******/
CREATE SPATIAL INDEX [SPATIAL_Table_1] ON [dbo].[geoProvincie]
(
	[Geom]
)USING  GEOMETRY_GRID 
WITH (BOUNDING_BOX =(0, 0, 260000, 260000), GRIDS =(LEVEL_1 = MEDIUM,LEVEL_2 = MEDIUM,LEVEL_3 = MEDIUM,LEVEL_4 = MEDIUM), 
CELLS_PER_OBJECT = 16, PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF
GO
/****** Object:  Index [SPATIAL_geoStal]    Script Date: 8/06/2023 14:26:25 ******/
CREATE SPATIAL INDEX [SPATIAL_geoStal] ON [dbo].[geoStal]
(
	[Geom]
)USING  GEOMETRY_GRID 
WITH (BOUNDING_BOX =(0, 0, 260000, 260000), GRIDS =(LEVEL_1 = MEDIUM,LEVEL_2 = MEDIUM,LEVEL_3 = MEDIUM,LEVEL_4 = MEDIUM), 
CELLS_PER_OBJECT = 16, PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF
GO
/****** Object:  Index [SPATIAL_geoUitrijden]    Script Date: 8/06/2023 14:26:25 ******/
CREATE SPATIAL INDEX [SPATIAL_geoUitrijden] ON [dbo].[geoUitrijden]
(
	[Geom]
)USING  GEOMETRY_GRID 
WITH (BOUNDING_BOX =(0, 0, 260000, 260000), GRIDS =(LEVEL_1 = MEDIUM,LEVEL_2 = MEDIUM,LEVEL_3 = MEDIUM,LEVEL_4 = MEDIUM), 
CELLS_PER_OBJECT = 16, PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF
GO
/****** Object:  Index [SPATIAL_geoWeide]    Script Date: 8/06/2023 14:26:25 ******/
CREATE SPATIAL INDEX [SPATIAL_geoWeide] ON [dbo].[geoWeide]
(
	[Geom]
)USING  GEOMETRY_GRID 
WITH (BOUNDING_BOX =(0, 0, 260000, 260000), GRIDS =(LEVEL_1 = MEDIUM,LEVEL_2 = MEDIUM,LEVEL_3 = MEDIUM,LEVEL_4 = MEDIUM), 
CELLS_PER_OBJECT = 16, PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
